@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/* :root {
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}
 */


body {
    background-color: #f5e0e0; /* pastel red background */
    color: #333;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 90%; /* Adjust to 90% for better fit on mobile */
    text-align: center;
}




h1 {
    color: #d9534f; /* pastel red for h1 */
}

h2 {
    color: #e57373; /* pastel red for h2 */
}

h3 {
    color: #f08080; /* pastel red for h3 */
}

.custom-link {
    color: #4f7dd9;
    text-decoration: #4f7dd9 wavy underline; 
    text-decoration-skip-ink: none;
    height: .2em;
    font-weight: 400; /* Regular weight */
}

.link-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.link-container {
    flex: 1;
    min-width: 300px; /* Adjust based on your design needs */
}

@media (max-width: 600px) {
    .link-container-wrapper {
        flex-direction: column;
        gap: 10px;
    }
}

.link-button {
    display: inline-block;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 80%;
    font-weight: var(--font-weight-normal);
}

.link-button-green {
    background-color: #66bb6a;
}

.link-button-green:hover {
    background-color: #388e3c;
}

.link-button-purple {
    background-color: #8e388e;
}

.link-button-purple:hover {
    background-color: #7b327b;
}

.link-button-blue {
    background-color: #4f7dd9;
}

.link-button-blue:hover {
    background-color: #2e5ba8;
}

.link-button-red {
    background-color: #d9534f;
}

.link-button-red:hover {
    background-color: #a63f3a;
}

.link-button-orange {
    background-color: #ff8a65;
}

.link-button-orange:hover {
    background-color: #e07d5f;
}

.link-button-yellow {
    background-color: #fbc02d;
    color: #000000;
}

.link-button-yellow:hover {
    background-color: #d9a827;
}

.link-button-github {
    background-color: #333333;
    width: 20%;
}