@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

body {
    background: #8A2387;  /* fallback for old browsers */
    background: var(--gradient-homepage-light-older);
    background: var(--gradient-homepage-light-newer);
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 90%; /* Adjust to 90% for better fit on mobile */
    text-align: center;
}

h1 {
    color: #d9534f; /* pastel red for h1 */
    margin-bottom: 0px;
}

h2 {
    color: #e57373; /* pastel red for h2 */
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
    color: #f08080; /* pastel red for h3 */
    margin-top: 0px;
}

.custom-link {
    color: #4f7dd9;
    text-decoration: #4f7dd9 wavy underline; 
    text-decoration-skip-ink: none;
    height: .2em;
    font-weight: 400; /* Regular weight */
}

.link-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
}

.link-container {
    flex: 1;
    min-width: 300px;
}

@media (max-width: 600px) {
    .link-container-wrapper {
        flex-direction: column;
        gap: 10px;
    }
}

.link-button {
    display: inline-block;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 60%;
    font-weight: var(--font-weight-normal);
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.link-button-green {
    background-color: var(--green);
}

.link-button-green:hover {
    background-color: var(--green-hover);
}

.link-button-purple {
    background-color: #8e388e;
}

.link-button-purple:hover {
    background-color: #7b327b;
}

.link-button-blue {
    background-color: var(--blue);
}

.link-button-blue:hover {
    background-color: var(--blue-hover);
}

.link-button-red {
    background-color: var(--red);
}

.link-button-red:hover {
    background-color: var(--red-hover);
}

.link-button-orange {
    background-color: var(--orange);
}

.link-button-orange:hover {
    background-color: var(--orange-hover);
}

.link-button-yellow {
    background-color: var(--yellow);
    color: var(--yellow-text);
}

.link-button-yellow:hover {
    background-color: var(--yellow-hover);
}

.link-button-github {
    background-color: var(--github);
    width: 40%;
}

.link-button-github:hover {
    background-color: var(--github-hover);
}
