@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

body {
    background-color: #f5e0e0; /* pastel red background */
    color: #333;
}

h1 {
    color: #d9534f; /* pastel red for h1 */
}

h2 {
    color: #e57373; /* pastel red for h2 */
}

h3 {
    color: #f08080; /* pastel red for h3 */
}

.custom-link {
    color: #4f7dd9; /* pastel red for links */
    text-decoration: #66cec7 wavy underline; /* pastel gray for underline */
    text-decoration-skip-ink: none;
    height: .2em;
    font-weight: 400; /* Regular weight */
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-green { /* pastel green background to match page linked */
    display: inline-block;
    background-color: #66bb6a; 
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 50%;
    font-weight: 300; 
}

.link-green:hover {
    background-color: #388e3c;
}

.link-purple { /* pastel purple background to match page linked */
    display: inline-block;
    background-color: #8e388e; 
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    width: 50%;
    font-weight: 300; 
}

.link-purple:hover {
    background-color: #7b327b; 
}