
:root {
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    
    --container-background: #ffffff;
    --container-background-dark: #333333;

    --p-background: #e0f2f1;
    --p-background-dark: #262626;

    --home-button: #e0f2f1;
    --home-button-hover: #b2dfdb;
    --home-button-dark: #262626;
    --home-button-dark-hover: #4d4d4d;

    --text-color: #333333;
    --text-color-dark: #ffffff;

    --pastel-red-background: #f5e0e0;
    --pastel-red-h1: #d9534f;
    --pastel-red-h2: #e57373;
    --pastel-red-h3: #f08080;
    --pastel-red-button: #f08080;
    --pastel-red-button-text: #333;
    --pastel-red-button-border: #f08080;

    --green: #66bb6a;
    --green-hover: #388e3c;

    --purple: #a53fa5; 
    --purple-hover: #4f194f;

    --blue: #4f7dd9;
    --blue-hover: #2e5ba8;

    --red: #d9534f;
    --red-hover: #a63f3a;

    --orange: #ff8a65;
    --orange-hover: #e07d5f;

    --yellow: #fbc02d;
    --yellow-text: #000000;
    --yellow-hover: #d9a827;

    --github: #333333;
    --github-hover: #666666;
    --github-text: #ffffff;
    --github-dark: #ffffff;
    --github-dark-hover: #cccccc;
    --github-dark-text: #333333;
    --github-dark-text-hover: #000000;

    --gradient-bg-fallback: #f4f4f4;  /* fallback for old browsers */
    --gradient-bg-dark-fallback: #212121;  /* fallback for old browsers */
    --gradient-homepage-light-newer: linear-gradient(to right, #F27121, #E94057, #8A2387);
    --gradient-homepage-dark-newer: linear-gradient(to right, #000428, #004e92);

    --shadow-color: #0000001a;
    
}
