@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/* :root {
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
} */


body {
    font-family: 'Jost', sans-serif;
    background-color: #f3e8f5; /* pastel purple background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    width: 100%;

}

h1 {
    color: #8e388e;
    font-size: 36px; 

}
body.dark-mode h1 {
    color: #a5d6a7;
}

h2 {
    color: #8e388e;
    margin: 2px;
}

input {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #8e388e;
    border-radius: 5px;
}

body.dark-mode label {
    color: #a5d6a7;
}


.home-button {
    background-color: white;
    color: #8e388e;
    border: 2px solid #ce70ce;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-start; /* Aligns the button to the left */
    margin-bottom: 20px;
    font-weight: var(--font-weight-medium);
}

.home-button:hover {
    background-color: #f1f1f1;
}

